{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.4"}
  org.clojure/data.xml {:mvn/version "0.2.0-alpha9"}
  org.clojure/data.zip {:mvn/version "1.1.0"}
  org.clojure/tools.cli {:mvn/version "1.1.230"}
  org.clojure/core.async {:mvn/version "1.6.681"}
  org.clojure/tools.deps {:mvn/version "0.20.1440"}
  org.clojure/data.json {:mvn/version "2.5.0"}
  clj-commons/clj-yaml {:mvn/version "1.0.27"}
  version-clj/version-clj {:mvn/version "2.0.2"}
  rewrite-clj/rewrite-clj {:mvn/version "1.1.48"}
  com.github.liquidz/rewrite-indented {:mvn/version "0.2.44"}
  pogonos/pogonos {:mvn/version "0.2.1"}}

 :tools/usage
 {:ns-default antq.tool}

 :aliases
 {:1.10
  {:override-deps {org.clojure/clojure ^:antq/exclude {:mvn/version "1.10.3"}}}

  :dev
  {:extra-paths ["dev"
                 "test"
                 "test/resources"]
   :extra-deps {metosin/malli {:mvn/version "0.16.2"}
                lambdaisland/kaocha {:mvn/version "1.91.1392"}
                lambdaisland/deep-diff2 {:mvn/version "2.11.216"}}
   :jvm-opts ["-Dclojure.core.async.go-checking=true"]}

  :nop
  {:extra-deps {org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}}

  :outdated
  {:main-opts ["-m" "antq.core"]}

  :test
  {:main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps {cloverage/cloverage {:mvn/version "RELEASE"}}
   :main-opts ["-m" "cloverage.coverage" "--ns-exclude-regex" "leiningen.antq"]}

  :build
  {:deps {com.github.liquidz/build.edn {:mvn/version "0.11.257"}}
   :ns-default build}

  ;; -X
  :latest
  {:extra-deps {org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}
   :exec-fn antq.core/latest}}}
