{
 :paths ["src"]
 :deps
 {ancient-clj {:mvn/version "0.6.15"}
  clj-commons/clj-yaml {:mvn/version "0.7.1"}
  org.clojure/clojure {:mvn/version "1.10.1"}
  version-clj {:mvn/version "0.1.2"}}

 :aliases
 {:dev
  {:extra-paths ["test"
                 "test/resources"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.629"}}}

  :test
  {:main-opts ["-m" "kaocha.runner"]}

  :depstar
  {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}}

  :deploy
  {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"
               "target/antq.jar"]}
  }
}
