{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
  org.clojure/data.zip {:mvn/version "1.0.0"}
  org.clojure/tools.cli {:mvn/version "1.0.206"}
  ;; NOTE: tools.deps.alpha v0.12.1098 or later does not work with CLojure 1.9.0
  org.clojure/tools.deps.alpha {:mvn/version "0.12.1090"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  clj-commons/clj-yaml {:mvn/version "0.7.108"}
  version-clj/version-clj {:mvn/version "2.0.2"}
  rewrite-clj/rewrite-clj {:mvn/version "1.0.767-alpha"}}

 :tools/usage
 {:ns-default antq.tool}

 :aliases
 {:1.9
  {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}

  :1.10
  {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}

  :dev
  {:extra-paths ["test"
                 "test/resources"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.66.1034"}
                lambdaisland/deep-diff2 {:mvn/version "2.0.108"}}}

  :nop
  {:extra-deps {org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}}

  :outdated
  {:main-opts ["-m" "antq.core"]}

  :test
  {:main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps {cloverage/cloverage {:mvn/version "RELEASE"}}
   :main-opts ["-m" "cloverage.coverage" "--ns-exclude-regex" "leiningen.antq"]}

  :build
  {:deps {com.github.liquidz/build.edn {:git/tag "0.1.49" :git/sha "2e03312"}}
   :ns-default build}

  ;; -X
  :latest
  {:extra-deps {org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}
   :exec-fn antq.core/latest}}}
