{:deps {foo/core {:mvn/version "1.0.0"}
        bar {:mvn/version "2.0.0"}
        git/hello {:git/url "https://github.com/example/hello.git"
                   :sha "dummy-sha"}
        git/world {:git/url "https://github.com/example/world.git"
                   :git/sha "dummy-sha2"}
        ;; local/root should be ignored
        local-repo/local-repo {:local/root "/path/to/local/repo"}
        ;; invalid versions should be ignored
        ver-not-string {:mvn/version :version}
        ver-empty {:mvn/version ""}
        ;; inferring from lib
        com.github.liquidz/dummy {:tag "v1.2.3" :sha "123abcd"}
        ;; no version
        no-version {}}

 :aliases
 {:foo {:extra-deps {baz {:mvn/version "3.0.0"}}
        :replace-deps {rep {:mvn/version "4.0.0"}}
        :override-deps {ovr {:mvn/version "5.0.0"}}}
  :bar {;; same artifact name, but different version number
        :extra-deps {foo/core {:mvn/version "1.1.0"}}}}

 :mvn/repos {"antq-test" {:url "s3://antq-repo/"}}}
