{:deps {foo/core {:mvn/version "1.0.0"}
        bar {:mvn/version "2.0.0"}
        git/hello {:git/url "https://github.com/example/hello.git"
                   :sha "dummy-sha"}
        ;; local/root should be ignored
        local-repo/local-repo {:local/root "/path/to/local/repo"}
        ;; invalid versions should be ignored
        ver-not-string {:mvn/version :version}
        ver-empty {:mvn/version ""}}

 :aliases
 {:foo {:extra-deps {baz {:mvn/version "3.0.0"}}
        :replace-deps {rep {:mvn/version "4.0.0"}}}
  :bar {;; same artifact name, but different version number
        :extra-deps {foo/core {:mvn/version "1.1.0"}}}}

 :mvn/repos {"antq-test" {:url "s3://antq-repo/"}}}
