{
 :dependencies [[foo1 #shadow/env "ENV1"]
                [foo2 #shadow/env ["ENV2"]]
                [foo3 #shadow/env ["ENV3" "default3"]]
                [foo4 #shadow/env ["ENV4" :default "default4"]]
                [foo5 #env "ENV5"]]
}
