{:source-paths ["src"]
 :dependencies [[foo/core "1.0.0"]
                [bar "2.0.0"]
                [baz "3.0.0"]
                ^:foo/bar [with/meta "4.0.0"]
                [ver-not-string :version]
                [ver-empty ""]]}
