{:deps {foo/core {:mvn/version "1.0.0"}
        bar {:mvn/version "2.0.0"}

        ;; :sha
        sha {:git/url "https://github.com/example/sha.git"
             :sha "dummy-sha"}
        ;; :git/sha
        git-sha {:git/url "https://github.com/example/git-sha.git"
                 :git/sha "dummy-git-sha"}

        ;; :tag (short sha)
        tag-short-sha {:git/url "https://github.com/example/tag-short.git"
                       :tag "v1.2.3" :sha "123abcd"}
        ;; :git/tag (long sha)
        git-tag-long-sha {:git/url "https://github.com/example/git-tag-long.git"
                          :git/tag "v2.3.4" :git/sha "1234567890abcdefghijklmnopqrstuvwxyz1234"}
        ;; inferring :git/url from lib
        com.github.liquidz/dummy {:sha "dummy-inferring-url"}

        ;; local/root
        local-repo/local-repo {:local/root "./local"}

        ;; metadata
        short-meta ^:foo/bar {:mvn/version "2.5.8"}
        full-meta ^{:foo/bar true} {:mvn/version "2.6.9"}

        ;; namespaced map
        namespaced/mvn #:mvn{:version "1.0.0"}
        namespaced/sha #:git{:url "https://github.com/example/git-sha.git"
                             :sha "1234567890abcdefghijklmnopqrstuvwxyz1234"}
        namespaced/tag-and-sha #:git{:url "https://github.com/example/tag-short.git"
                                     :tag "v1.2.3" :sha "123abcd"}

        ;; should be ignored
        local-repo/non-existing {:local/root "/path/to/non-existing-local/repo"}
        meta-ignore ^:antq/exclude {:mvn/version "3.5.8"}
        meta/range-ignore1 ^{:antq/exclude "5.x"} {:mvn/version "4.6.9"}
        meta/range-ignore2 ^{:antq/exclude ["6.x" "7.x"]} {:mvn/version "4.6.9"}
        ;; invalid versions should be ignored
        ver-not-string {:mvn/version :version}
        ver-empty {:mvn/version ""}
        ;; no version
        no-version {}}

 :aliases
 {:foo
  {:extra-deps {baz {:mvn/version "3.0.0"}}
   :replace-deps {rep {:mvn/version "4.0.0"}}
   :override-deps {ovr {:mvn/version "5.0.0"}}
   :default-deps {dft {:mvn/version "6.0.0"}}}

  :same-name
  {;; same artifact name, but different version number
   :extra-deps {foo/core {:mvn/version "1.1.0"}}}

  :same-name-but-excluded
  {;; same artifact name, but excluded
   :extra-deps {foo/core ^:antq/exclude {:mvn/version "0.0.1"}}}}

 :mvn/repos {"antq-test" {:url "s3://antq-repo/"}}}
