name: test
on: [push]

jobs:
  test:
    strategy:
      matrix:
        java: ['8', '11', '14', '15', '16']

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}
      - run: java -version
      - uses: DeLaGuardo/setup-clojure@master
        with:
          tools-deps: latest
          lein: latest
      - uses: actions/cache@v2
        with:
          path: ~/.m2
          key: test-m2-${{ hashFiles('deps.edn') }}-v1
      - name: lint integration-test.sh
        run: shellcheck integration-testing/test.sh
      - name: run test
        run: make test
